In [1]:
from research.datasets import Basic
from research.enums import Optimizer
from research.portfolio import Portfolio
from research.utils import chart

In [2]:
data = Basic()
budget = 1e6
portfolio = Portfolio(
    data.names, data.prices, data.expected_returns, data.covariance_matrix, budget
)

In [3]:
portfolio.optimize(method=Optimizer.ITER_MIQP)
portfolio.metrics_df(include_shares=True)

Iteration: 0, gamma range: [0, 20], sharpe: 0
Iteration: 1, gamma range: [10.0, 20], sharpe: 1.3380705582900414
Iteration: 2, gamma range: [15.0, 20], sharpe: 1.3380695408677672

,expected_return,standard_devation,sharpe,value,deficit,AAPL_S,COKE_S,F_S,VZ_S
0,5.118726,3.825457,1.338069,215158.934425,784841.065575,1504.0,177.0,-4555.0,1577.0